ambev/flows.json
[
    {
        "id": "5abd6c41f35b2a87",
        "type": "tab",
        "label": "Ambev",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7ee6bec8c7a289f4",
        "type": "inject",
        "z": "5abd6c41f35b2a87",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Ligar Alarme",
        "payload": "ON",
        "payloadType": "str",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "7434b392e5031c0b"
            ]
        ]
    },
    {
        "id": "f29f32f3daa755be",
        "type": "inject",
        "z": "5abd6c41f35b2a87",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Desligar Alarme",
        "payload": "OFF",
        "payloadType": "str",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "7434b392e5031c0b"
            ]
        ]
    },
    {
        "id": "7434b392e5031c0b",
        "type": "serial out",
        "z": "5abd6c41f35b2a87",
        "name": "",
        "serial": "a8707aae3db468ab",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "068794b0d987d13d",
        "type": "serial in",
        "z": "5abd6c41f35b2a87",
        "name": "",
        "serial": "548aa38597e392ff",
        "x": 530,
        "y": 260,
        "wires": [
            [
                "76a4bbc8c6fdb207"
            ]
        ]
    },
    {
        "id": "76a4bbc8c6fdb207",
        "type": "debug",
        "z": "5abd6c41f35b2a87",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "a8707aae3db468ab",
        "type": "serial-port",
        "name": "",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": 10000
    },
    {
        "id": "548aa38597e392ff",
        "type": "serial-port",
        "name": "",
        "serialport": "COM3",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": 10000
    },
    {
        "id": "c93824465cbc3e34",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3"
        }
    }
]